{% extends "base.html" %}
{% load i18n %}
{% load dashboard_extras %}

{% block script %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('.groupList').DataTable({
            "lengthMenu": [[20, 50, -1], [20, 50, "All"]],
            'columnDefs': [{
                'orderable': false,
                'targets': [-1, -2] /* 1st one, start by the right */
            }]
        });
    } );
</script>
{% endblock %}

{% block nav %}
        <li><a href="{% url 'settings_page' %}"><i class="fa-chevron-left fa fa-fw"></i> Back</a></li>
        <li><a href="{% url 'new_license' %}"><i class="fa-plus fa fa-fw"></i> License</a></li>

{% endblock %}

{% block content %}
 <h3>Licenses</h3>

<div class="panel panel-default">
<div class="panel-body">
   <div class="table-responsive">
       <table class="groupList table table-striped table-condensed">
     <thead>
         <tr>
           <th>Item           </th>
           <th>Licensed Seats </th>
           <th>Installed Seats</th>
           <th>Available Seats</th>
           <th>Business Unit</th>
           <th></th>
         </tr>
         </tr>
     </thead>
     <tbody>
     {% for license in licenses %}
         <tr>
             <td{% if license.available < 0 %} class='error'{% endif %}>{{ license.item_name }}</td>
             <td>{{ license.total }}</td>
             <td><a href=#>{{ license.used }}</a></td>
             <td{% if license.available < 0 %} class='text-error'{% endif %}>{{ license.available }}</td>
             <td>{{ license.business_unit }}</td>
             <td><a href="{% url 'edit_license' license.item_name %}" class="btn btn-mini btn-info">Edit</a></td>
         </tr>
     {% endfor %}
     </tbody>
 </table>
 </div>
 </div>
{% endblock %}
