{% extends "base.html" %}
{% load i18n %}

{% block script %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('.groupList').dataTable({
            "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
            "iDisplayLength": 20,
            "aLengthMenu": [[20, 50, -1], [20, 50, "All"]],
            "sPaginationType": "bootstrap",
            "bStateSave": true,
            "aaSorting": [[1,'asc']]
        });
    } );
</script>

{% endblock %}

{% block nav %}

{% endblock %}
{% block content %}
{% if machine_groups.count > 0 %}
{% for machine_group in machine_groups.all %}
{{ machine_group.name }}
{% endfor %}
{% else %}No Machine groups configured.{% endif %}

{% endblock %}
