{% extends "base.html" %}
{% load i18n %}
{% load dashboard_extras %}
{% block script %}

{% endblock %}

{% block nav %}
{% if is_editor %}
    <li><a href="{% url 'new_machine_group' business_unit.id %}">New Machine Group</a></li>
{% endif %}
{% endblock %}
{% block content %}
<div class="row"><div class="span4"><h3>{{ business_unit.name }}</h3></div></div>
{% if machine_groups.count > 0 %}
<div class="row">
    <div class="span4">
        <legend>Groups</legend>
        <table class="table table-striped table-condensed table-bordered">
            {% for machine_group in machine_groups.all %}
            <tr>
                <td><a href="{% url 'group_dashboard' machine_group.id %}">{{ machine_group.name }}
                    <span class="badge badge-info pull-right">
                        {{ machine_group.machine_set.count }}
                    </span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% else %}No Machine groups configured.{% endif %}

{% endblock %}
