{% extends "base.html" %}
{% load i18n %}
{% load dashboard_extras %}
{% block script %}

{% endblock %}

{% block nav %}
{% if is_editor %}
    <li><a href="{% url 'new_machine_group' business_unit.id %}">New Machine Group</a></li>
{% endif %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="span4">
        <h3>{{ business_unit.name }}</h3>
    </div>
</div>
<div class="row">
    <div class="span12">
        {% if user_level == "GA" %}
        Key: <code>{{ business_unit.key }}</code>
        {% endif %}
    </div>
</div>
{% if machine_groups.count > 0 %}
<div class="row">
    <div class="span4">
        <legend>Groups</legend>
        <table class="table table-striped table-condensed table-bordered">
            {% for machine_group in machine_groups.all %}
            <tr>
                <td><a href="{% url 'group_dashboard' machine_group.id %}">{{ machine_group.name }}
                    <span class="badge badge-info pull-right">
                        {{ machine_group.machine_set.count }}
                    </span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="row">
    <div class="span4">
        <legend>Activity</legend>
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <td>
                    {% if machine_data.checked_in_this_hour %}<a href="{% url 'overview_list_bu' 'activity' '1-hour'  business_unit.id %}">{% endif %}
                    Machines this hour
                    <span class="badge badge-info pull-right">
                        {{ machine_data.checked_in_this_hour }}
                    </span>
                    {% if machine_data.checked_in_this_hour %}</a>{% endif %}
                </td>
            </tr>
            <tr>
                <td>{% if machine_data.checked_in_today %}<a href="{% url 'overview_list_bu' 'activity' 'today'  business_unit.id %}">{% endif %}
                    Machines today
                    <span class="badge badge-info pull-right">
                        {{ machine_data.checked_in_today }}
                    </span>
                    {% if machine_data.checked_in_today %}</a>{% endif %}
                </td>
            </tr>
            <tr>
                <td>{% if machine_data.checked_in_this_week %}<a href="{% url 'overview_list_bu' 'activity' '1-week'  business_unit.id %}">{% endif %}
                    Machines this week
                    <span class="badge badge-info pull-right">
                        {{ machine_data.checked_in_this_week }}
                    </span>
                    {% if machine_data.checked_in_this_hour %}</a>{% endif %}
                </td>
            </tr>
            <tr>
                <td>{% if machine_data.inactive_for_a_month %}<a href="{% url 'overview_list_bu' 'inactivity' '1-month'  business_unit.id %}">{% endif %}
                    Inactive for a month
                    <span class="badge badge-warning pull-right">
                        {{ machine_data.inactive_for_a_month }}
                    </span>
                    {% if machine_data.inactive_for_a_month %}</a>{% endif %}
                </td>
            </tr>
            <tr>
                <td>{% if machine_data.inactive_for_three_months %}<a href="{% url 'overview_list_bu' 'inactivity' '3-months'  business_unit.id %}">{% endif %}
                    Inactive for three months
                    <span class="badge badge-important pull-right">
                        {{ machine_data.inactive_for_three_months }}
                    </span>
                    {% if machine_data.inactive_for_three_months %}</a>{% endif %}
                </td>
            </tr>
        </table>
        
    </div>
    <div class="span4">
        <legend>Status</legend>
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <td>
                    {% if machine_data.errors %}<a href="{% url 'overview_list_bu' 'errors' 'view' business_unit.id %}">{% endif %}
                    Clients with errors
                    <span class="badge badge-important pull-right">
                        {{ machine_data.errors }}
                    </span>
                </td>
            </tr>
            <tr>
                <td>{% if machine_data.warnings %}<a href="{% url 'overview_list_bu' 'warnings' 'view' business_unit.id %}">{% endif %}
                    Clients with warnings
                    <span class="badge badge-warning pull-right">
                        {{ machine_data.warnings }}
                    </span>
                    {% if machine_data.warnings %}</a>{% endif %}
                </td>
            </tr>
            <tr>
                <td>{% if machine_data.activity %}<a href="{% url 'overview_list_bu' 'active' 'view' business_unit.id %}">{% endif %}
                    Clients with activity
                    <span class="badge badge-info pull-right">
                        {{ machine_data.activity }}
                    </span>
                    {% if machine_data.activity %}</a>{% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div class="span4">
        <legend>Operating System breakdown</legend>
        <div class="widget-content">
            <table class="table table-striped table-condensed table-bordered">
            {% for item in os_info|dictsort:'operating_system' %}
                <tr>
                    <td>
                        <a href="{% url 'overview_list_bu' 'operating_system' item.operating_system  business_unit.id %}">
                        {{ item.operating_system }}
                        <span class="badge pull-right">{{ item.count }}</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% else %}No Machine groups configured.{% endif %}

{% endblock %}
