{% extends "base.html" %}
{% load i18n %}
{% load dashboard_extras %}

{% block plugins %}
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="fa fa-th-large fa-fw"></i>  <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu dropdown-plugin">
    {% for report in reports %}
      <li><a href="{% url 'report_load' report group_type group_id %}">{{ report }}</a></li>
    {% endfor %}
  </ul>
  <!-- /.dropdown-plugin -->
</li>
<!-- /.dropdown -->
{% endblock %}

{% block nav %}
<li class="active">
  <a href="#"><i class="fa fa-th-large fa-fw"></i> Reports<span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    {% for report in reports %}
    <li class="{% if active_report == report %}active{% else %}{% endif %}">
      <a href="{% url 'report_load' report group_type group_id %}">{{ report }}</a>
    </li>
    {% endfor %}
  </ul>
  <!-- /.nav-second-level -->
</li>
{% endblock %}

{% block content %}
  {{ output|safe }}
{% endblock %}
