{% extends "base.html" %}
{% load i18n %}
{% load dashboard_extras %}
{% block script %}

{% endblock %}

{% block nav %}
<li> <a href="{% url 'bu_dashboard' business_unit.id %}"><i class="fa fa-fw fa-chevron-left"></i> Back</a></li>
    {% if user.userprofile.level == 'GA' or user.userprofile.level == 'RW' %}
        {% if config_installed %}
            <li><a href="{% url 'config_machine_group_index' machine_group.id %}"><i class="fa fa-wrench fa-fw"></i> Configure Group</a></li>
        {% endif %}
    {% endif %}
    <li class="active">
        <a href="#"><i class="fa fa-building fa-fw"></i> {{business_unit}}<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            {% for group in business_unit.machinegroup_set.all %}
                <li class="active"><a href="{% url 'group_dashboard' group.id %}">{{ group.name }}
                    <span class="badge badge-info pull-right">
                        {{ group.machine_set.count }}
                    </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <!-- /.nav-second-level -->
    </li>
    
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>{{ machine_group.name }}</h3>
        {% if user_level == "GA" %}
        Key: <code>{{ machine_group.key }}</code>
        {% endif %}
    </div>
</div>

<div class="row">
    {% for widget in output %}
    {{ widget.html|safe }}
    {% endfor %}
</div>
</div>


{% endblock %}
