{% extends "base.html" %}
{% load i18n %}
{% load dashboard_extras %}

{% block script %}
<script>
 
$( document ).ready(function() {
 
   {% for widget in output %}

   var attempts{{ widget.name }};
    function doAjaxRequest{{ widget.name }}() {
        attempts{{ widget.name }} = 0;
        doAjaxRequestLoop{{ widget.name }}();
    }

    function doAjaxRequestLoop{{ widget.name }}() {
        attempts{{ widget.name }} += 1;
        if (attempts{{ widget.name }} > 10) {
            alert('too many attempts.');
            return;
        }

        $.ajax({ // do your request
            // The URL for the request
            url: "{% url 'plugin_load_front' widget.name %}",
         
            // Whether this is a POST or GET request
            type: "GET",
         
            // The type of data we expect back
            dataType : "html",
         
            // Code to run if the request succeeds;
            // the response is passed to the function
            success: function( data ) {
                $('#plugin-{{ widget.name }}').html(data);
            },
            error: function (error) {
                doAjaxRequestLoop{{ widget.name }}();
            }
        });
    }
    doAjaxRequest{{ widget.name }}();

   {% endfor %}
 
});
 
</script>

{% endblock %}

{% block nav %}
    {% if user.userprofile.level == 'GA' or user.userprofile.level == 'RW' %}
        {% if CONFIG_INSTALLED %}
            {% if user.userprofile.level == 'GA' %}
                <li><a href="{% url 'config_index' %}"><i class="fa fa-wrench fa-fw"></i> Configure Machines</a></li>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if user.userprofile.level == 'GA' %}
    <li><a href="{% url 'inventory.views.index' %}"><i class="fa fa-list-alt fa-fw"></i> Application Inventory</a></li>
    {% endif %}
    <li class="active">
        <a href="#"><i class="fa fa-building fa-fw"></i> Business Units<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            {% for business_unit in business_units.all %}
                <li><a href="{% url 'bu_dashboard' business_unit.id %}">{{ business_unit.name }}
                    <span class="badge badge-info pull-right">
                        {{ business_unit.id|bu_machine_count }}
                    </span>
                    </a>
                </li>

            {% endfor %}
            {% if user.userprofile.level == 'GA' %}
        <li><a href="{% url 'new_business_unit' %}"><i class="fa fa-plus fa-fw"></i> New Business Unit</a></li>
    {% endif %}
        </ul>
        <!-- /.nav-second-level -->
    </li>
    
{% endblock %}
{% block content %}

<div class="row">
    {% for widget in output %}
    {{ widget.html|safe }}
    {% endfor %}
</div>

{% endblock %}
