{% extends "base.html" %}
{% load i18n %}
{% load dashboard_extras %}

{% block script %}
<script>

$( document ).ready(function() {

   {% for widget in output %}

   $.ajaxWithRetries(
    {
        url: "{% url 'plugin_load_front' widget.name %}",
        error: function(){
            console.log('{{ widget.name }} Failed');
        },
        success: function( data ) {
                $('#plugin-{{ widget.name }}').html(data);
            },
    },
    {
        retries: 20,
        backoff: false
    }
);


   {% endfor %}

});

</script>
{% if data_setting_decided == False %}
<script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>
{% endif %}
{% endblock %}

{% block nav %}
    {% if user.userprofile.level == 'GA' or user.userprofile.level == 'RW' %}
        {% if CONFIG_INSTALLED %}
            {% if user.userprofile.level == 'GA' %}
                <li><a href="{% url 'config_index' %}"><i class="fa fa-wrench fa-fw"></i> Configure Machines</a></li>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if user.userprofile.level == 'GA' %}
    <li><a href="{% url 'inventory.views.index' %}"><i class="fa fa-list-alt fa-fw"></i> Application Inventory</a></li>
    {% endif %}
    <li class="active">
        <a href="#"><i class="fa fa-building fa-fw"></i> Business Units<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            {% for business_unit in business_units.all %}
                <li><a href="{% url 'bu_dashboard' business_unit.id %}">{{ business_unit.name }}
                    <span class="badge badge-info pull-right">
                        {{ business_unit.id|bu_machine_count }}
                    </span>
                    </a>
                </li>

            {% endfor %}
            {% if user.userprofile.level == 'GA' %}
        <li><a href="{% url 'new_business_unit' %}"><i class="fa fa-plus fa-fw"></i> New Business Unit</a></li>
    {% endif %}
        </ul>
        <!-- /.nav-second-level -->
    </li>

{% endblock %}
{% block content %}

<div class="row">
    {% for widget in output %}
    {{ widget.html|safe }}
    {% endfor %}
</div>

{% endblock %}
{% block modal %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Send usage data?</h4>
      </div>
      <div class="modal-body">
        <p>Sending anonymous usage data helps shape the development of Sal. It will only send usage data once every 24 hours. For more information on what data is sent, please see the <a href="https://github.com/salopensource/sal/wiki/Usage-reporting">wiki</a>.  You can change this at any time in the Settings section.</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'senddata_enable' %}" class="btn btn-success">Send usage data (and be awesome!)</a>
        <a href="{% url 'senddata_disable' %}" class="btn btn-danger" href="#">Do not send usage data</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
