{% extends "base.html" %}
{% load i18n %}
{% load dashboard_extras %}

{% block script %}


{% endblock %}

{% block nav %}
    {% if user.userprofile.level == 'GA' or user.userprofile.level == 'RW' %}
        {% if CONFIG_INSTALLED %}
            {% if user.userprofile.level == 'GA' %}
                <li><a href="{% url 'config_index' %}"><i class="fa fa-wrench fa-fw"></i> Configure Machines</a></li>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if user.userprofile.level == 'GA' %}
    <li><a href="{% url 'inventory.views.index' %}"><i class="fa fa-list-alt fa-fw"></i> Application Inventory</a></li>
    {% endif %}
    <li class="active">
        <a href="#"><i class="fa fa-building fa-fw"></i> Business Units<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            {% for business_unit in business_units.all %}
                <li><a href="{% url 'bu_dashboard' business_unit.id %}">{{ business_unit.name }}
                    <span class="badge badge-info pull-right">
                        {{ business_unit.id|bu_machine_count }}
                    </span>
                    </a>
                </li>

            {% endfor %}
            {% if user.userprofile.level == 'GA' %}
        <li><a href="{% url 'new_business_unit' %}"><i class="fa fa-plus fa-fw"></i> New Business Unit</a></li>
    {% endif %}
        </ul>
        <!-- /.nav-second-level -->
    </li>
    
{% endblock %}
{% block content %}

<div class="row">
    {% for widget in output %}
    {{ widget.html|safe }}
    {% endfor %}
</div>

{% endblock %}
