<li><a href="{% url 'group_dashboard' machine.machine_group.id %}"><i class="fa fa-chevron-left fa-fw"></i> Back</a></li>
<li><a href="{% url 'machine_detail' machine.id %}"><i class="fa fa-laptop fa-fw"></i> Overview</a></li>
<li><a href="{% url 'machine_detail_facter' machine.id %}"><i class="fa fa-laptop fa-fw"></i> Facter</a></li>
<li><a href="{% url 'machine_detail_conditions' machine.id %}"><i class="fa fa-laptop fa-fw"></i> Conditions</a></li>
<li><a href="{% url 'application_list' group_type='machine' group_id=machine.id %}"><i class="fa fa-list-alt fa-fw"></i> Application Inventory</a></li>
