{% extends "base.html" %}
{% load i18n %}
{% load dashboard_extras %}
{% load static from staticfiles %}

{% block title %}Sal - {{ machine.hostname }}{% endblock %}

{% block script %}
<script>
$( document ).ready(function() {
    {% for widget in output %}
    $.ajaxWithRetries(
        {
            url: "{% url 'load_plugin' widget.name 'machine' machine.id %}",
            error: function(){
                console.log('{{ widget.name }} Failed');
            },
            success: function( data ) {
                    $('#plugin-{{ widget.name }}').html(data);
            },
        },
        {
            retries: 20,
            backoff: false
        }
    );
    {% endfor %}
});
</script>
{% endblock %}

{% block nav %}
{% include 'server/machine_detail_nav.html' %}
{% if user.userprofile.level == 'GA' or user.userprofile.level == 'RW' %}
<li><a href="#myModal" data-toggle="modal"><i class="fa fa-times fa-fw"></i> Computer</a></i>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-5">
    <p style="text-align: center;">
      {% if machine.os_family == 'Darwin' %}
      <img src='https://km.support.apple.com/kb/securedImage.jsp?configcode={{machine.serial|slice:"8:" }}&size=120x120'>
      {% elif machine.os_family == 'ChromeOS' %}
      <img src="{% static 'img/Chrome.png' %}" height="120" width="120" alt="Chrome OS"/>
      {% else %}
      <img src="{% static 'img/generic_pc.png' %}" height="120" width="120" alt="Generic PC"/>
      {% endif %}
      <br>
      <h2 style="text-align:center">{{ machine.hostname }}</h2>
      <span style="display: block; margin: 0px auto; text-align: center;" title="Last report date">
        <b>Report</b> :: {{ machine.last_checkin|date:"Y-m-d H:i" }}
      </span>
    </p>

    <div class="panel panel-default">
      <div class="panel-body">
        <dl class="dl-horizontal" >
          <legend><h5 class"text-uppercase">Notifications</h5></legend>
          <div class="row">
            <div class="col-md-4">
              <p style="text-align: center;">
                <!-- Error Modal Trigger -->
                {% if messages.ERRORS %}
                <a class="fa fa-exclamation-triangle fa-3x color-red" href="#ErrorModal" data-toggle="modal" data-backdrop="true"></a>
                {% else %}
                <i class="fa fa-check-circle fa-3x color-green" style="cursor: default;"></i>
                {% endif %}
                <br>
                {{ messages.ERRORS|length }} Errors
              </p>
            </div>
            <div class="col-md-4">
              <p style="text-align: center;">
                <!-- Warning Modal Trigger -->
                {% if messages.WARNINGS %}
                <a class="fa fa-bell fa-3x color-yellow" href="#WarningModal" data-toggle="modal" data-backdrop="true"></a>
                {% else %}
                <i class="fa fa-check-circle fa-3x color-green" style="cursor: default;"></i>
                {% endif %}
                <br>
                {{ messages.WARNINGS|length }} Warnings
              </p>
            </div>
            <div class="col-md-4">
              <p style="text-align: center;">
                <!-- Pending items Modal trigger -->
                {% if pending %}
                <a class="fa fa-3x color-blue fa-info-circle" href="#PendingModal" data-toggle="modal" data-backdrop="true"></a>
                {% else %}
                <i class="fa fa-3x color-green fa-check-circle" style="cursor: default;"></i>
                {% endif %}
                <br>
                {{pending|length }} Pending Items
              </p>
            </div>
          </div>
          </dl>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <dl class="dl-horizontal">
          <legend><h5 class"text-uppercase">Machine Details</h5></legend>
          {% if machine.broken_client %}
          <dt>Broken Python:</dt>
          <dd class="bg-danger">Client has broken Python / MSC</dd>
          {% endif %}
          {% if machine.machine_model %}
          <dt>Model:</dt>
          <dd>
            {% if machine.os_family == 'Darwin' and machine.machine_model_friendly %}
            {{ machine.machine_model_friendly }}
            {% else %}
            {{ machine.machine_model }}
            {% endif %}
          </dd>
          {% endif %}
          <dt>Processor:</dt>
          <dd>{{ machine.cpu_type }} {{ machine.cpu_speed }}</dd>
          <dt>RAM:</dt>
          <dd>{{ machine.memory }}</dd>
          <dt>Serial:</dt>
          <dd>{{ machine.serial }}</dd>
          {% if ip_address %}
          <dt>LAN IP Address:</dt>
          <dd>{{ ip_address }}</dd>
          {% endif %}
          <dt>Hostname:</dt>
          <dd>{{ machine.hostname }}</dd>
          <dt>OS version:</dt>
          <dd>
          {% if machine.os_family == 'Darwin' %}macOS{% else %}{{ machine.os_family }}{% endif %}
          {{ machine.operating_system }}
          </dd>
          {% if machine.hd_percent != '0' %}
          <dt>Free disk space:</dt>
          <dd>
          {% if machine.os_family == 'Darwin' %}
          <!-- Display Mac sizes in base 10 -->
          {{ machine.hd_space|human_readable_size:False }}
          {% else %}
          {{ machine.hd_space|human_readable_size }}
          {% endif %} ({{ machine.hd_percent }}% used)
          </dd>
          {% endif %}
          {% if machine.hd_total %}
          <dt>Total disk space:</dt>
          <dd>
          {% if machine.os_family == 'Darwin' %}
          {{ machine.hd_total|human_readable_size:False }}
          {% else %}
          {{ machine.hd_total|human_readable_size }}
          {% endif %}
          </dd>
          {% endif %}
          {% if uptime %}
          <dt>Uptime:</dt>
          <dd>{{ uptime }}</dd>
          {% endif %}
          {% if machine.console_user %}
          <dt>Console user:</dt>
          <dd>{{ machine.console_user }}</dd>
          {% endif %}
          <dt>Deploy Status:</dt>
          <dd>
          {% if machine.deployed %}
          Deployed
          {% else %}
          Undeployed
          {% endif %}
          </dd>
          <dt>First checkin:</dt>
          <dd>{{ machine.first_checkin }}</dd>
        </dl>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <dl class="dl-horizontal">
          <legend><h5 class"text-uppercase">Management Tools</h5></legend>
          <dt>Business Unit</dt>
          <dd>{{ business_unit }}</dd>
          <dt>Machine Group</dt>
          <dd>{{ machine_group }}</dd>
          {% if machine.sal_version %}
          <dt>Sal Version:</dt>
          <dd>{{ machine.sal_version }}</dd>
          {% endif %}
          {% for name, value in management_tools %}
          <dt>{{ name }}</dt>
          <dd>{{ value }}</dd>
          {% endfor %}
        </dl>
      </div>
    </div>

  <!-- Machine Detail Plugin output -->
  {% for widget in output %}
  {{ widget.html|safe }}
  {% endfor %}

  </div>

  <!-- Managed Items -->
  <div class="col-md-7">
    <div class="row">&nbsp;</div>
    <div id="accordion" class="panel-group">
      <div class="panel panel-default">
        <div class="panel-body">

          <!-- Nav tabs -->
          <ul class ="nav nav-pills">
          {% for management_source, items in managed_items.items %}
            {% if items|length == 1 %}
            <li {% if management_source == initial_source %}class="active" {% endif %}role="presentation">
            {% for item_type in items %}
            <a aria-expanded="true" data-toggle="tab" href="#{{ item_type|slugify }}">{{ management_source }}</a>
            {% endfor %}
            </li>
            {% else %}
            <li class="dropdown{% if management_source == initial_source %} active{% endif %}" role="presentation">
              <a class="dropdown-toggle" role="button" aria-haspopup="true" data-toggle="dropdown" href="#">{{ management_source }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
              {% for item_type in items %}
                <li><a data-toggle="tab" href="#{{ item_type|slugify }}"><i class="fa fa-info-circle color-green"></i>   {{ item_type }}</a></li>
              {% endfor %}
              </ul>
            </li>
            {% endif %}
          {% endfor %}
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
          {% for management_source, items in managed_items.items %}
            {% for key, values in items.items %}
              <div class="tab-pane {% if active_table == key %}in active{% endif %} fade" id="{{ key|slugify }}">
                {% with title=management_source items=values type=key %}
                  {% include 'server/managed_item_table.html' %}
                {% endwith %}
              </div><!-- /.tab-pane -->
            {% endfor %}
          {% endfor %}
          </div><!-- /.tab-content -->

        </div><!-- /.panel-body -->
      </div><!-- /.panel -->
    </div> <!-- /.pane-group -->
  </div> <!-- /.row -->
</div> <!-- /.col -->
{% endblock %}

{% block modal %}
  <!-- ManagedItem Modals -->
  {% for management_source, subtypes in managed_items.items %}
    {% for subtype, values in subtypes.items %}
      {% for item in values %}
        <!-- {{ management_source.name }}{{ subtype }}-{{ item.name }} Modal -->
        <div class="modal fade in" id="ManagedItemsModal-{{ management_source|slugify }}-{{ subtype|slugify }}-{{ item.name|slugify }}" tabindex="-1" role="dialog" aria-labelledby="labelManagedItemsModal-{{ management_source|slugify }}-{{ subtype|slugify }}-{{ item.name|slugify }}" aria-hidden="true">
          <div class="modal-dialog" style="width: 60%">
          <!-- modal-content -->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="labelManagedItemsModal-{{ management_source|slugify }}-{{ subtype|slugify }}-{{ item.name|slugify }}">Details for {{ item.name }}</h4>
              </div>
              <div class="modal-body">
              {% if item.data %}
                <dl class="dl-horizontal">
                  <dt>Date managed</dt>
                  <dd>{{ item.date_managed }}</dd>
                  <dt>Status</dt>
                  <dd>{{ item.status }}</dd>
                  {% for key, value in item.data|json_items %}
                  <dt>{{ key }}</dt>
                  <!-- Add other keys to identify as "sizes" to this pipe-delimited string. -->
                  {% with sizes='installed_size|' %}
                  <dd>
                  {% if key in sizes %}
                    {% if machine.os_family == 'Darwin' %}
                      {{ value|kibibytes_to_bytes|human_readable_size:False }}
                    {% else %}
                      {{ value|kibibytes_to_bytes|human_readable_size:True }}
                    {% endif %}
                  {% else %}
                    {{ value }}
                  {% endif %}
                  </dd>
                  {% endwith %}
                  {% endfor %}
                </dl>
              {% else %}
              <p>No additional data available.</p>
            {% endif %}
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
      {% endfor %}
    {% endfor %}
  {% endfor %}

  <!-- ManagedInstall history modals -->
  {% for item in report.ManagedInstalls %}
  <!-- {{item.name}}-{{item.version|cut:"."}} ManagedInstalls Modal -->
  <div class="modal fade in" id="ManagedInstallsModal{{item.name}}{{item.version|cut:"."}}" tabindex="-1" role="dialog" aria-labelledby="labelManagedInstallsModal{{item.name}}{{item.version|cut:"."}}" aria-hidden="true">
    <div class="modal-dialog" style="width: 60%">
      <!-- modal-content -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="labelManagedInstallsModal{{item.name}}{{item.version|cut:"."}}">Update History for {% if item.display_name %}{{item.display_name}}{% else %}{{ item.name }}{% endif %} {{item.version}}</h4>
        </div>
        <div class="modal-body">
         {% if item.update_history %}
            <table class="table table-striped">
                <th>Status</th>
                <th>Date</th>
              {% for update_history_item in item.update_history %}
              <tr>
                  <td>{{update_history_item.get_status_display}}</td>
                  <td>{{update_history_item.recorded}}</td>
              </tr>
              {% endfor %}
          </table>
            {% else %}
            <p>No update history available.</p>
            {% endif %}

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  {% endfor %}

  <!-- Delete machine Modal -->
  {% if user.userprofile.level == 'GA' or user.userprofile.level == 'RW' %}
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 class="modal-title" id="myModalLabel">Are you sure?</h3>
          </div>
          <div class="modal-body">
              <p>This will delete the computer permanently - are you sure you want to do this?</p>
          </div>
          <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              <a class="btn btn-danger" href="{% url 'delete_machine' machine.id %}">Delete Item</a>
          </div>
      </div>
    </div>
  </div>
  {% endif %}

  <!-- Error Modal -->
  <div class="modal fade in" id="ErrorModal" tabindex="-1" role="dialog" aria-labelledby="theErrorModal" aria-hidden="true">
    <div class="modal-dialog" style="width: 60%">
      <!-- modal-content -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="theErrorModal">Errors</h4>
        </div>
        <div class="modal-body">
          <table class="client_info table table-striped table-condensed">
            <thead>
              <tr>
                <th>Source</th>
                <th>Date</th>
                <th>Text</th>
              </tr>
            </thead>
            <tbody>
              {% for item in messages.ERRORS|dictsort:'date' %}
              <tr>
                <td>{{ item.management_source.name }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.text }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  
  <!-- Warning Modal -->
  <div class="modal fade in" id="WarningModal" tabindex="-1" role="dialog" aria-labelledby="theWarningModal" aria-hidden="true">
    <div class="modal-dialog" style="width: 60%">
      <!-- modal-content -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="theWarningModal">Warnings</h4>
        </div>
        <div class="modal-body">
          <table class="client_info table table-striped table-condensed">
            <thead>
              <tr>
                <th>Source</th>
                <th>Date</th>
                <th>Text</th>
              </tr>
            </thead>
            <tbody>
              {% for item in messages.WARNINGS|dictsortreversed:'date' %}
              <tr>
                <td>{{ item.management_source.name }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.text }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <!-- Pending Modal -->
  <div class="modal fade in" id="PendingModal" tabindex="-1" role="dialog" aria-labelledby="thePendingModal" aria-hidden="true">
    <div class="modal-dialog" style="width: 60%">
      <!-- modal-content -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="thePendingModal">Pending Items</h4>
        </div>
        <div class="modal-body">
          <table class="client_info table table-striped table-condensed">
            <thead>
              <tr>
                <th>Source</th>
                <th>Date</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              {% for item in pending|dictsort:'name' %}
              <tr>
                <td>{{ item.management_source.name }}</td>
                <td>{{ item.date_managed }}</td>
                <td>{{ item.name }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
{% endblock %}
