{% extends "base.html" %}
{% load i18n %}
{% load dashboard_extras %}

{% block title %}Sal - {{ machine.hostname }}{% endblock %}

{% block script %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('.groupList').DataTable({
            "pageLength": {{ page_length }},
            "lengthMenu": [[20, 50, -1], [20, 50, "All"]],
            'columnDefs': [{
                'orderable': false,
                'targets': [-1, -2] /* 1st one, start by the right */
            }]
        });
    } );
</script>
{% endblock %}

{% block nav %}{% include 'server/machine_detail_nav.html' %}{% endblock %}

{% block content %}
<div class="panel panel-default">
{% if title %}
    <div class="panel-heading">{{ title }}</div>
{% endif %}
<div class="panel-body">
  <div class="table-responsive">
    <table class="groupList table table-striped table-condensed">
      <thead>
        <tr>
          <th>Fact</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        {% for item in table_data %}
        <tr>
          <td>{{ item.fact_name }}</td>
          <td>{{ item.fact_data }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
