{% extends "base.html" %}
{% load i18n %}
{% load dashboard_extras %}

{% block script %}
<script>

$( document ).ready(function() {



   {% for widget in output %}

   $.ajaxWithRetries(
    {
        url: "{% url 'plugin_load_id' widget.name 'machine_detail' machine.id%}",
        error: function(){
            console.log('{{ widget.name }} Failed');
        },
        success: function( data ) {
                $('#plugin-{{ widget.name }}').html(data);
            },
    },
    {
        retries: 20,
        backoff: false
    }
);


   {% endfor %}


});

</script>

{% endblock %}

{% block nav %}
{% include 'server/machine_detail_nav.html' %}
  <li><a href="#myModal" data-toggle="modal"><i class="fa fa-times fa-fw"></i> Computer</a></i>
}

{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-5">
    <p style="text-align: center;">
      <img src='https://km.support.apple.com.edgekey.net/kb/securedImage.jsp?configcode={{machine.serial|slice:"8:" }}&size=120x120'>
      <br>
      <h2 style="text-align:center">{{ machine.hostname }}</h2>
      <span style="display: block; margin: 0px auto; text-align: center;" title="Last report date">
        <b>Report</b> :: {{ machine.last_checkin|date:"Y-m-d H:i" }}
      </span>
    </p>
    <div class="panel panel-default">
      <div class="panel-body">
        <dl class="dl-horizontal" >
          <legend><h5 class"text-uppercase">Notifications</h5></legend>
          <div class="row">
            <div class="col-md-4">
              <p style="text-align: center;">
                <!-- Error Modal Trigger -->
                {% if report.Errors|length %}
                <a class="fa fa-exclamation-triangle fa-3x color-red" href="#ErrorModal" data-toggle="modal" data-backdrop="true"></a>
                {% else %}
                <i class="fa fa-check-circle fa-3x color-green" style="cursor: default;"></i>
                {% endif %}
                <br>
                {{ report.Errors|length }} Errors
              </p>
            </div>
            <div class="col-md-4">
              <p style="text-align: center;">
                <!-- Warning Modal Trigger -->
                {% if report.Warnings|length %}
                <a class="fa fa-bell fa-3x color-yellow" href="#WarningModal" data-toggle="modal" data-backdrop="true"></a>
                {% else %}
                <i class="fa fa-check-circle fa-3x color-green" style="cursor: default;"></i>
                {% endif %}
                <br>
                {{ report.Warnings|length }} Warnings
              </p>
            </div>
            <div class="col-md-4">
              <p style="text-align: center;">
                {% if report.AppleUpdates|length or report.ItemsToInstall|length %}
                <i class="fa fa-info-circle fa-3x color-blue" style="cursor: default;"></i>
                {% else %}
                <i class="fa fa-check-circle fa-3x color-green" style="cursor: default;"></i>
                {% endif %}
                <br>
                {% with PendingAppleUpdates=report.AppleUpdates|length %}
                  {% with PendingInstalls=report.ItemsToInstall|length %}
                    {{ PendingAppleUpdates|add:PendingInstalls }} Pending Installs
                  {% endwith %}
                {% endwith %}
              </p>
            </div>
          </div>
          </dl>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <dl class="dl-horizontal">
          <legend><h5 class"text-uppercase">Machine Details</h5></legend>
          <dt>Model:</dt>
          <dd>
            {% if machine.machine_model_friendly %}
            {{ machine.machine_model_friendly }}
            {% else %}
            {{ machine.machine_model }}
            {% endif %}
          </dd>
          <dt>Processor:</dt>
          <dd>
            {{ machine.cpu_type }}
            {{ machine.cpu_speed }}
          </dd>
          <dt>RAM:</dt>
          <dd>{{ machine.memory }}</dd>
          <dt>Serial:</dt>
          <dd>{{ machine.serial }}</dd>
          <dt>LAN IP Address:</dt>
          <dd>{{ ip_address }}</dd>
          {% if 'MachineInfo' in report %}
          <dt>Hostname:</dt>
          <dd>{{ report.MachineInfo.hostname }}</dd>
          <dt>OS version:</dt>
          <dd>
            {% if report.os_family == 'Darwin' %}
            {{ report.MachineInfo.os_vers|macos }}
            {% endif %}
            {{ report.MachineInfo.os_vers }}
            {{ report.MachineInfo.arch }}
          </dd>
          {% endif %}
          <dt>Free disk space:</dt>
          <dd>{{ report.AvailableDiskSpace|humanreadablesize }} ({{ machine.hd_percent }}% used)</dd>
          {% if uptime_enabled %}
          <dt>Uptime:</dt>
          <dd>{{ uptime }}</dd>
          {% endif %}
          <dt>Console user:</dt>
          <dd>{{ report.ConsoleUser }}</dd>
        </dl>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <dl class="dl-horizontal">
          <legend><h5 class"text-uppercase">Management Tools</h5></legend>
          <dt>Business Unit</dt>
          <dd>{{ business_unit }}</dd>
          <dt>Machine Group</dt>
          <dd>{{ machine_group }}</dd>
          {% if machine.sal_version %}
          <dt>Sal Version:</dt>
          <dd>{{ machine.sal_version }}</dd>
          {% endif %}
          {% if machine.puppet_version %}
          <dt>Puppet Version:</dt>
          <dd>{{ machine.puppet_version }}</dd>
          {% endif %}
          {% if report.ManagedInstallVersion %}
          <dt>Munki Version:</dt>
          <dd>{{ report.ManagedInstallVersion }}</dd>
          {% endif %}
          {% if 'ManifestName' in report %}
          <dt>Munki Manifest:</dt>
          <dd>
            {{ report.ManifestName }}
          </dd>
          {% endif %}
          {% if report.ManagedInstallVersion %}
          <dt>Munki Run Type:</dt>
          <dd>{{ report.RunType }}</dd>
          <dt>Munki Start:</dt>
          <dd>{{ report.StartTime|convert_datetime|date:"Y-m-d H:i" }}</dd>
          <dt>Munki End:</dt>
          <dd>{{ report.EndTime|convert_datetime|date:"Y-m-d H:i" }}</dd>
          {% endif %}
          {% if machine.last_puppet_run %}
          <dt>Puppet Run:</dt>
          <dd>{{ machine.last_puppet_run|date:"Y-m-d H:i" }}</dd>
          {% endif %}
        </dl>
      </div>
    </div>

              {% for widget in output %}
              {{ widget.html|safe }}
              {% endfor %}

  </div>

  <div class="col-md-7">
    <div class="row">&nbsp;</div>
    <div id="accordion" class="panel-group">
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- Nav tabs -->
          <ul class ="nav nav-pills">
            {% if report.ManagedInstalls|length %}
            <li class="active" role="presentation"><a aria-expanded="true" data-toggle="tab" href="#tab2-1">Managed Installs</a></li>
            {% endif %}
            <!-- Dropdown Menu -->
            <li class="dropdown" role="presentation">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true">Pending Installs <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% if report.AppleUpdates|length %}
                <li><a data-toggle="tab" href="#dd1"><i class="fa fa-info-circle color-yellow"></i>   Apple Updates</a></li>
                {% else %}
                <li class="disabled"><a href="#"><i class="fa fa-check-circle color-green"></i>   No Apple Updates</a></li>
                {% endif %}
                {% if report.ItemsToInstall|length %}
                <li><a data-toggle="tab" href="#dd2"><i class="fa fa-info-circle color-yellow"></i>   Active Installs</a></li>
                {% else %}
                <li class="disabled"><a href="#"><i class="fa fa-check-circle color-green"></i>   No Active Installs</a></li>
                {% endif %}
                {% if report.ItemsToRemove|length %}
                <li><a data-toggle="tab" href="#dd3"><i class="fa fa-info-circle color-yellow"></i>   Active Removals</a></li>
                {% else %}
                <li class="disabled"><a href="#"><i class="fa fa-check-circle color-green"></i>   No Active Removals</a></li>
                {% endif %}
                {% if report.ProblemInstalls|length %}
                <li><a data-toggle="tab" href="#dd4"><i class="fa fa-info-circle color-yellow"></i>   Problem Installs</a></li>
                {% else %}
                <li class="disabled"><a href="#"><i class="fa fa-check-circle color-green"></i>   No Problem Installs</a></li>
                {% endif %}
              </ul>
            </li>
            <!-- /.dropdown -->
            {% if report.managed_uninstalls_list|length %}
            <li role="presentation"><a data-toggle="tab" href="#tab2-2">Managed Uninstalls</a></li>
            {% endif %}
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade" id="dd1">
            {% with title='Apple Updates' pkglist=report.AppleUpdates type='apple' %}
              {% include 'server/pkgtable.html' %}
            {% endwith %}
            </div>
            <div class="tab-pane fade" id="dd2">
              {% with title='Active Installs' pkglist=report.ItemsToInstall type='active_installs' %}
                {% include 'server/pkgtable.html' %}
              {% endwith %}
            </div>
            <div class="tab-pane fade" id="dd3">
              {% with title='Active Removals' pkglist=report.ItemsToRemove type='active_removals' %}
                {% include 'server/pkgtable.html' %}
              {% endwith %}
            </div>
            <div class="tab-pane fade" id="dd4">
              {% with title='Problem Installs' pkglist=report.ProblemInstalls type='problem_installs' %}
                {% include 'server/pkgtable.html' %}
              {% endwith %}
            </div>
            <div class="tab-pane fade active in" id="tab2-1">
              {% with title='Managed Installs' pkglist=report.ManagedInstalls type='managed_installs' %}
                {% include 'server/pkgtable.html' %}
              {% endwith %}
            </div>
            <div class="tab-pane fade" id="tab2-2">
              <table class="client_info table table-striped table-condensed">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in report.managed_uninstalls_list %}
                  <tr>
                    <td>{{ item }}</td>
                    {% if item in report.RemovedItems %}
                    <td>not installed</td>
                    {% else %}
                    <td class='error'>installed</td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
  </div>
</div>
  {% endblock %}
  {% block modal %}
  {% for item in report.ManagedInstalls %}
  <!-- {{item.name}}-{{item.version|cut:"."}} ManagedInstalls Modal -->
  <div class="modal fade in" id="ManagedInstallsModal{{item.name}}{{item.version|cut:"."}}" tabindex="-1" role="dialog" aria-labelledby="labelManagedInstallsModal{{item.name}}{{item.version|cut:"."}}" aria-hidden="true">
    <div class="modal-dialog" style="width: 60%">
      <!-- modal-content -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="labelManagedInstallsModal{{item.name}}{{item.version|cut:"."}}">Update History for {% if item.display_name %}{{item.display_name}}{% else %}{{ item.name }}{% endif %} {{item.version}}</h4>
        </div>
        <div class="modal-body">
         {% if item.update_history %}
            <table class="table table-striped">
                <th>Status</th>
                <th>Date</th>
              {% for update_history_item in item.update_history %}
              <tr>
                  <td>{{update_history_item.get_status_display}}</td>
                  <td>{{update_history_item.recorded}}</td>
              </tr>
              {% endfor %}
          </table>
            {% else %}
            <p>No update history available.</p>
            {% endif %}

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  {% endfor %}
  {% if user.userprofile.level == 'GA' or user.userprofile.level == 'RW' %}
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 class="modal-title" id="myModalLabel">Are you sure?</h3>
          </div>
          <div class="modal-body">
              <p>This will delete the computer permanently - are you sure you want to do this?</p>
          </div>
          <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              <a class="btn btn-danger" href="{% url 'delete_machine' machine.id %}">Delete Item</a>
          </div>
      </div>
    </div>
  </div>
  {% endif %}

  <!-- Error Modal -->
  <div class="modal fade in" id="ErrorModal" tabindex="-1" role="dialog" aria-labelledby="theErrorModal" aria-hidden="true">
    <div class="modal-dialog" style="width: 60%">
      <!-- modal-content -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="theErrorModal">Errors</h4>
        </div>
        <div class="modal-body">
          <pre class="text-error pre-scrollable">{{ report.Errors|join:'<br>' }}</pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- Warning Modal -->
  <div class="modal fade in" id="WarningModal" tabindex="-1" role="dialog" aria-labelledby="theWarningModal" aria-hidden="true">
    <div class="modal-dialog" style="width: 60%">
      <!-- modal-content -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="theWarningModal">Warnings</h4>
        </div>
        <div class="modal-body">
          <pre class="text-warning pre-scrollable">{{ report.Warnings|join:'<br>' }}</pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
{% endblock %}
