{% extends "base.html" %}
{% load i18n %}
{% load dashboard_extras %}
{% block script %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('.groupList').dataTable({
            "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
            "iDisplayLength": 20,
            "aLengthMenu": [[20, 50, -1], [20, 50, "All"]],
            "sPaginationType": "bootstrap",
            "bStateSave": true,
            "aaSorting": [[1,'asc']]
        });
    } );
</script>

{% endblock %}

{% block nav %}

{% endblock %}
{% block content %}
{% if title %}<h3>{{ title }}</h3>{% endif %}

<table class="groupList table table-striped table-condensed">
    <thead>
        <tr>
          <th>Machine</th>
          <th>User</th>
          <th>Latest Run</th>
        </tr>
    </thead>
    <tbody>
        {% for item in machines.all|dictsort:'hostname' %}
        <tr>
            <td>
                <a href="{% url 'machine_detail' item.id %}">
                {% if item.hostname %}
                    {{ item.hostname }}
                {% else %}
                    {{ item.serial }}
                {% endif %}
                </a>
            </td>

            <td>{{ item.console_user }}</td>
            <td>{{ item.last_checkin|date:"Y-m-d H:i" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
