{% load dashboard_extras %}
{% if pkglist|length %}

  <table class="client_info table table-striped table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for item in pkglist|dictsort:"display_name" %}
      <tr>
        <td>
          {% if item.display_name|length %}
            {{ item.display_name }}
          {% else %}
            {{ item.name }}
          {% endif %}
          {{ item.version_to_install }}
          {{ item.installed_version }}
        </td>
        <td>
          {{ item.installed_size|humanreadablesize }}
       </td>
        <td>
        {% if type == 'managed_installs' %}
        <a href="#ManagedInstallsModal{{item.name}}{{item.version|cut:"."}}" class="btn btn-info" data-toggle="modal" data-backdrop="true">
        {% endif %}
          {% if 'install_result' in item %}
            {{ item.install_result }}
          {% else %}
            {% if item.installed %}
              installed
            {% else %}
              <span class='error'>not installed</span>
            {% endif %}
          {% endif %}
          {% if type == 'managed_installs' %}
        </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
