{% extends "base.html" %}
{% load i18n %}
{% load dashboard_extras %}

{% block script %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('.groupList').DataTable({
            "aLengthMenu": [[20, 50, -1], [20, 50, "All"]],
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1, -2] /* 1st one, start by the right */
            }]
        });
    } );
</script>
{% endblock %}

{% block nav %}
        <li><a href="{% url 'home' %}"><i class="fa-chevron-left fa fa-fw"></i> Back</a></li>
        <li><a href="{% url 'manage_users' %}"><i class="fa-group fa fa-fw"></i> Users</a></li>
        <li><a href="{% url 'api_keys' %}"><i class="fa-key fa fa-fw"></i> API Keys</a></li>

{% endblock %}

{% block content %}
<div class="panel panel-default">
<div class="panel-body">

</div>
</div>
{% endblock %}
