{% extends "base.html" %}
{% load i18n %}
{% load dashboard_extras %}
{% load bootstrap3 %}

{% block script %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('.groupList').DataTable({
            "lengthMenu": [[20, 50, -1], [20, 50, "All"]],
            'columnDefs': [{
                'orderable': false,
                'targets': [-1, -2] /* 1st one, start by the right */
            }]
        });
    } );
</script>
{% endblock %}

{% block nav %}
        <li><a href="{% url 'home' %}"><i class="fa-chevron-left fa fa-fw"></i> Back</a></li>
        <li><a href="{% url 'manage_users' %}"><i class="fa-group fa fa-fw"></i> Users</a></li>
        <li><a href="{% url 'license_index' %}"><i class="fa-certificate fa fa-fw"></i> Licenses</a></li>
        <li><a href="{% url 'api_keys' %}"><i class="fa-key fa fa-fw"></i> API Keys</a></li>
        <li><a href="{% url 'plugins_page' %}"><i class="fa-cubes fa fa-fw"></i> Plugins</a></li>

{% endblock %}

{% block content %}
{% if messages %}
<div class="row">
    <div class="col-md-10">
            {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ message }}
                            </div>
            {% endfor %}
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-10">
        <h1>Settings</h1>
        <h3>Data Retention</h3>
        <p>This is the number of days that <code>historical facts</code> and <code>osquery</code> data will be kept for.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form action="{% url 'settings_historical_data' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form historical_setting_form %}
        <p><button type="submit" class="btn btn-primary">Save</button></p>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <h3>Send Usage Data</h3>
        <p>Sending anonymous information about your usage helps shape the future of Sal. For example, if it turns out many people are using one particular plugin, that plugin will get more development dedicated to it. </p>

    {% if senddata_setting %}<p>Thank you for helping with the development of Sal. If you wish to opt out of sending usage data, you can do so below:</p>
    <p><a href="{% url 'senddata_disable' %}" class="btn btn-danger">I don't want to help open source development anymore</a></p>
		{% else %}
    <p>Sending your usage data would help get the features you care about developed faster. If you have changed your mind and would like to help the effort by sending usage data, you can do so below:</p>
    <p><a href="{% url 'senddata_enable' %}" class="btn btn-success">Send usage data</a></p>
		{% endif %}

    </div>
</div>
{% endblock %}
