{% extends "base.html" %}
{% load i18n %}
{% load dashboard_extras %}

{% block script %}


{% endblock %}

{% block nav %}
        <li><a href="{% url 'home' %}"><i class="icon-white icon-arrow-left"></i> Back</a></li>
{% endblock %}
{% block content %}
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr><th>Widget</th><th>Description</th><th></th></tr>
        </thead>
        <tbody>
            {% for assigned_widget in assigned_widgets %}
            <tr>
                <td>{{ assigned_widget.widget.display_name }}</td>
                <td>{{ assigned_widget.widget.description }}</td>
                <td><a href="{% url 'widgetToTopRemove' assigned_widget.widget.id %}" class="btn btn-danger">Already Assigned</a></td>
            </tr>
            {% endfor %}
            {% for widget in widgets %}
            <tr>
                <td>{{ widget.display_name }}</td>
                <td>{{ widget.description }}</td>
                <td><a href="{% url 'widgetToTopAdd' widget.id %}" class="btn btn-info">Assign</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
