version: 2
jobs:
  test:
    docker:
      - image: circleci/python:2.7-jessie

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "setup/requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            virtualenv venv
            . venv/bin/activate
            pip install -r setup/requirements.txt
            pip install flake8

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "setup/requirements.txt" }}
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            cp sal/example_settings.py sal/settings.py
            python manage.py test
            python manage.py migrate
      - run:
          name: run linting
          command: |
            . venv/bin/activate
            flake8

      - store_artifacts:
          path: test-reports
          destination: test-reports
  build:
    docker:
      - image: docker:17.05.0-ce-git
    
    steps:
      - checkout
      - setup_remote_docker
      - run: docker build -t macadmins/sal:$CIRCLE_BRANCH .

workflows:
  version: 2
  build_and_test:
    jobs:
      - test
      - build:
        requires:
          - test
