{% extends "base.html" %}
{% load i18n %}
{% load dashboard_extras %}

{% block script %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
        $('.groupList').dataTable({
            //"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
            // "iDisplayLength": 20,
            "aLengthMenu": [[20, 50, -1], [20, 50, "All"]],
            // "sPaginationType": "bootstrap",
            // "bStateSave": true,
            // "aaSorting": [[1,'asc']]
        });
    } );
</script>
<style type="text/css">
.tooltip-inner {
    max-width: 1000px;
    max-width: 1000px;
}
</style>
{% endblock %}

{% block nav %}
<li><a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-fw fa-chevron-left"></i> Back</a></li>

    
{% endblock %}
{% block content %}

<div class="panel panel-default">

    <div class="panel-heading">
        Application Inventory
    </div>

<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-striped table-condensed"">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Version</th>
                  <th>Bundle ID</th>
                </tr>
            </thead>
            <tbody>
                {% for item in inventory %}
                <tr>
                    <td>
                        <a href="{% if page == 'front' %}{% url 'inventory_list_front' %}{% elif page == 'business_unit' %}{% url 'inventory_list_id' 'bu_dashboard' business_unit.id %}{% elif page == 'machine_group' %}{% url 'inventory_list_id' 'machine_group' machine_group.id %}{% elif page == 'machine_id' %}{% url 'inventory_list_id' 'machine_id' machine.id %}{% endif %}?name={{ item.name|urlencode }}&version={{ item.version|urlencode }}&path={{ item.path|urlencode }}&bundleid={{ item.bundleid|urlencode}}&bundlename={{item.bundlename|urlencode}}" data-toggle="tooltip" data-placement="right" title="{{ item.path }}">
                        {{ item.name }}
                        </a>
                    </td>

                    <td>{{ item.version }}</td>
                    <td>{{ item.bundleid }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <ul class="pull-right pagination">
    {% if previous_id != 0 %}
    <li><a href="?page={{ previous_id }}">previous</a></li>
    {% endif %}
    {% if next_id != 0 %}
    <li><a href="?page={{ next_id }}">next</a></li>
    {% endif %}
    </ul>
    </div>
</div>
{% endblock %}