{% extends "base.html" %}

{% block script %}
{% load static %}
<script type="text/javascript" charset="utf8" src="{% static "js/datatableview.min.js" %}"></script>
<script type="text/javascript" charset="utf8">
// https://stackoverflow.com/a/73271937
jQuery(document).on( 'init.dt', function (e, settings) {
  var dti = jQuery('.dataTables_filter input');
  var api = new jQuery.fn.dataTable.Api( settings );
  var dbn = null;

  dti.off().on('keyup', function(e) {
    clearTimeout( dbn );
    var str = this.value;
    dbn = setTimeout(function(){
      if(str.length > 2 || e.keyCode == 13) api.search( str ).draw();
      if(str == '') api.search( '' ).draw();
    }, 1000);
    return;
  });
});
$(function(){
    var datatable = datatableview.initialize($('.datatable'), {searchDelay: 1000});
});
</script>
{% endblock %}

{% block nav %}
	<li><a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-fw fa-chevron-left"></i> Back</a></li>
	{% block csv_export %}
	{% endblock %}
{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">
			{% block heading %}
				Inventory
			{% endblock %}
		</div>

		<div class="panel-body">
			{% block inventory_data %}
				<div class="table-responsive">
					{{ datatable }}
				</div>
			{% endblock %}
		</div>
	</div>
{% endblock %}
