{% load i18n %} {% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{{ DISPLAY_NAME }}{% endblock %}</title>

    <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!-- LESS Compiler -->
    <script src="/static/js/less-1.4.2.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/static/css/plugins/timeline.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="/static/DataTables-1.10.11/css/dataTables.bootstrap.min.css"/>

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery Version 1.11.0 -->
    <script src="/static/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/js/plugins/metisMenu/metisMenu.min.js"></script>


    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>

    <!-- DataTables JavaScript -->
    <script type="text/javascript" src="/static/DataTables-1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/DataTables-1.10.11/js/dataTables.bootstrap.min.js"></script>

    <script src="/static/js/retryAjax.js"></script>
    {% block script %}
    {% endblock %}

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-title"><a href="{% url 'home' %}">{{ DISPLAY_NAME }}</a></div>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        {% if user.has_usable_password %}
                        <li><a href="{% url 'password_change' %}"><i class="fa fa-user fa-fw"></i> {% trans "Change password" %}</a>
                        </li>
                        {% endif %}
                        <li>{{user.userlevel}}</li>
                        {% if user.is_staff %}


                        <li><a href="{% url 'settings_page' %}"><i class="fa fa-cog fa-fw"></i> Settings</a>
                        </li>

                        {% endif %}
                        <li class="divider"></li>
                        <li><a href="{% url 'logout_then_login' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                {% endif %}
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <ul class="nav navbar-top-links navbar-right">
            {% block plugins %}
            {% endblock %}
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <form method="get" action="/search/">
                            <div class="input-group custom-search-form">
                                <input type="text" name="q" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                        </form>
                            <!-- /input-group -->
                        </li>
                        {% if 'search' not in request.path %}
                        <li>
                            <a href="{% url 'search_index' %}"><i class="fa fa-fw fa-magic"></i> Advanced Search</a>
                        </li>
                        {% endif %}
                        {% block nav %}
                        {% endblock %}

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
            {% block content %}
            {% endblock %}
        <div class="row"><div class="col-md-12"><p class="pull-right">Sal version {{ SAL_VERSION }}</p></div></div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% block modal %}
{% endblock %}
<!-- Morris Charts JavaScript -->
<script src="/static/js/plugins/morris/raphael.min.js"></script>
<script src="/static/js/plugins/morris/morris.min.js"></script>
<script src="/static/bootstrap-list-filter.min.js"></script>
</body>

</html>
