<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>disk_space</string>
	<key>description</key>
	<string>Available disk space</string>
	<key>display_name</key>
	<string>Disk Space</string>
	<key>source</key>
	<string>builtin</string>
	<key>widget_type</key>
	<string>traffic_light</string>
	<key>search_item</key>
	<string>hd_percent</string>
    <key>ok</key>
    <array>
        <dict>
            <key>label</key>
            <string>&lt; 80%</string>
            <key>search_operator</key>
            <string>lt</string>
            <key>search_value</key>
            <string>80</string>
        </dict>
    </array>
    
    <key>warning</key>
    <array>
        <dict>
            <key>label</key>
            <string>80% +</string>
            <key>search_operator</key>
            <string>range</string>
            <key>search_value</key>
            <string>80,89</string>
        </dict>
    </array>
    
    <key>alert</key>
    <array>
        <dict>
            <key>label</key>
            <string>80% +</string>
            <key>search_operator</key>
            <string>gte</string>
            <key>search_value</key>
            <string>90</string>
        </dict>
    </array>
</dict>
</plist>