<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>hostname</string>
	<key>description</key>
	<string>All hostnames</string>
	<key>display_name</key>
	<string>Hostnames</string>
	<key>source</key>
	<string>builtin</string>
	<key>widget_type</key>
	<string>list_count</string>
	<key>search_item</key>
	<string>hostname</string>
</dict>
</plist>