
h1, h2, h3, h4, h5, h6, h3 a{
	font-family: 'Lato', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight:normal;
	color: black;
}

.group_grid_item{
	text-align: center;
}

.error {
	color: red;
	font-weight: bold;
}

.bigger {
    font-size: 150%;
}

legend {
	padding-top: 10px;
}

legend a.pull-right{
	margin-top:10px
}