Django==1.8.2
Yapsy==1.10.223
cffi==1.1.2
cryptography==0.9.1
django-bootstrap3==5.4.0
docutils==0.11
enum34==1.0.4
idna==2.0
ipaddress==1.0.7
ndg-httpsclient==0.3.2
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.14
python-dateutil==2.2
pytz==2014.3
requests==2.5.0
six==1.9.0
urllib3==1.10
wsgiref==0.1.2
djangorestframework==3.1.3
