Django==3.2.25
django-bootstrap3==12.0.3
django-debug-toolbar==3.2.1
django-filter==2.4.0
djangorestframework==3.11.2
django-health-check==3.17.0
django-datatable-view==2.1.6
idna==3.7
# Required for DRF
markdown==3.2.1
netaddr==0.7.19
python-dateutil==2.8.1
pytz==2019.3
PyYAML==6.0.1
requests==2.32.3
six==1.14.0
ulid2==0.2.0
uritemplate==3.0.1
urllib3==1.26.19
Yapsy==1.12.2
djangosaml2==0.18.1